.container {
  width: 450px; 
  margin: 50px auto; 
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  width: 100%;
  padding: 10px; 
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(250, 164, 6);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgba(244, 196, 3, 0.952);
}

button:disabled {
  background-color: rgb(250, 164, 6);
  cursor: not-allowed;
  opacity: 0.6;
}

.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
