<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">TastyTruck 🚚</a>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/Login">Login</a></li>
            </ul>
        </nav>
        <nav class="cart-nav">
            <ul>
                <li>
                    
                    <a href="/cart-page">Cart 🛒 <span class="cart-count" >{{cart.items.length}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
