header {
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;
    margin-top: 20px;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

a {
    color: black;
}


a.logo:hover {
    background-color: rgb(236, 236, 17);
    color: rgb(146, 6, 50);
    border-radius: 5px;
}

a.logo {
    font-weight: bold;
    padding: 1em;
    font-size: 35px;
    background-color: orange;
    color: rgb(36, 6, 146);
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    margin-left: 20px;
    font-weight: bold;
}

nav ul li {
    position: relative; 
}

nav ul li a {
    padding: 1em;
    display: inline-block;
    color: black;
    font-family: bold;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    font-family: bold;
    color: blue;
    background-color: orange;
}

.dropdown-menu {
    visibility: hidden; 
    opacity: 0; 
    position: absolute; 
    background-color: white;
    border: 1px solid #ccc; 
    z-index: 1000; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: max-content; 
    min-width: 150px; 
}

.nav-item.dropdown:hover .dropdown-menu {
    visibility: visible; 
    opacity: 1; 
}

.dropdown-item {
    padding: 0.5em 1em; 
    text-decoration: none; 
    display: block; 
    color: black; 
}

.dropdown-item:hover {
    background-color: orange; 
}

.cart-count {
    background-color: rgb(251, 138, 9); 
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    margin-left: 0.5rem; 
}