<div class="container mt-4">
  <div class="card p-4">
    <h1>User Registration</h1>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First name</label>
        <input
          formControlName="firstname"
          type="text"
          class="form-control"
          id="firstname"
          placeholder="Enter Firstname"
        />
        <div *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched" class="text-danger">
          First name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="lastname">Last name</label>
        <input
          formControlName="lastname"
          type="text"
          class="form-control"
          id="lastname"
          placeholder="Enter Lastname"
        />
        <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched" class="text-danger">
          Last name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
        />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          Please enter a valid email.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          Password must be at least 6 characters.
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-4" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>
